root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

# CMake profile
[CMakeLists.txt]
indent_size = space
indent_size = 2
tab_width = 2

# Xml files
[*.xml]
indent_size = 2
